*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #fafbfc !;
    height: 100%;
}


html,
body {
    height: 100%;
}

.wrapper {
    padding-top: 100px;
}

body {
    background-color: white;
    -webkit-print-color-adjust: exact !important;
    font-family: 'Cabin', sans-serif;
}

main {
    background-color: #E9EDEE;
    height: auto;
}

section {
    padding: 80px 0px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BioRhyme', serif;
    margin: 0;
}

h1 {
    font-size: 3em;
    color: #ffff;
    letter-spacing: 2px;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

p {
    word-spacing: 2px;
}

.photo-header {
    background-color: #24292e;
    position: relative;
    margin: 0 auto;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 95%;
    border-radius: 6px;
}

.photo-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-top: -65px; */
    box-shadow: rgba(0, 0, 0, 0.3) 4px 1px 20px 4px;
}

.photo-header h1,
.photo-header h2 {
    width: 100%;
    text-align: center;
}

.photo-header h1 {
    margin-top: 10px;
    color: white
}

.links-nav {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1em;
}

.nav-link {
    display: inline-block;
    margin: 5px 10px;
}

.container {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


.card {
    text-align: center;
    padding: 1%;
    border-radius: 6px;
    border: solid 1px black;

}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media print {
    body {
        zoom: .75;
    }
}